.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar p{
  background-color: gray;  
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.navbar p:hover{
  background-color: black;
  cursor: pointer;
  color: yellow;
  transition: 0.3s;
}

.navbarel {
  text-decoration: none;
}

